
<template>
    <b-form-select :disabled="isCitiesLoading" :value="value" :options="options"
        @input="onChange && onChange($event)" />
</template>

<script>
import { mapActions, mapState } from 'vuex';

export default {
    name: "CitiesSelect",
    data() {
        return {
            currentCity: null
        }
    },
    props: {
        value: String,
        onChange: {
            type: Function,
            required: false
        },
    },
    computed: {
        ...mapState({
            options: store => [{ value: null, text: "Все города" }, ...Object.entries(store.cities.cities).map(([value, text]) => ({ value, text }))],
            isCitiesLoading: store => store.cities.isLoading,
            cities: store => store.cities.cities
        })

    },
    methods: {
        ...mapActions({
            getCities: 'getCities',
        })
    },
    created() {

        this.getCities()

    },
}
</script>

<style lang="scss" scoped></style>
