<template>
    <div>
        <CommonModal :modalId="modalId" :title="'New one'">
            <NewsAddForm :onFormFinish="onFormFinish" />
        </CommonModal>
        <b-button variant="outline-primary" @click="onClick">Add New</b-button>
    </div>
</template>

<script>
import { NewsAddForm } from '@/entities/news';
import { CommonModal } from '@/shared/common';
import { mapActions } from 'vuex';


export default {
    name: 'NewsAddNewFormModal',
    components: {
        CommonModal,
        NewsAddForm
    },
    data() {
        return {
            modalId: "NewsAddNewFormModalId"
        }
    },
    methods: {
        ...mapActions({
            createNews: "createNews",
        }),
        onClick() {
            this.$bvModal.show(this.modalId)

        },
        onFormFinish(formData) {
            this.$bvModal.hide(this.modalId)
            this.createNews(formData)

        }
    }
}
</script>

<style lang="scss" scoped></style>