<template>
    <div>
        <NewsModal :modalId="data.id.toString()" :data="data" :title="data.title" />
        <NewsCard :data="data" :onNewsClick="onNewsClick" />
    </div>
</template>

<script>
import { NewsCard, NewsModal } from '@/entities/news'
export default {

    name: "NewsCardWithModal",
    components: {
        NewsCard,
        NewsModal
    },
    props: {
        data: {
            type: Object,
            required: true
        }
    },
    methods: {
        onNewsClick() {
            this.$bvModal.show(this.data.id.toString())

        }
    }
}
</script>

<style lang="scss" scoped></style>