<template>
    <b-modal size="lg" :id="modalId" :hide-footer="hideFooter || onOk" :title="title" :ok="onOk">
        <b-row>
            <slot></slot>
        </b-row>
    </b-modal>
</template>

<script lang="js">
export default {
    name: "CommonModal",
    props: {

        modalId: {
            type: String,
            required: true
        },
        title: {
            type: String,
            required: false
        },
        hideFooter: {
            type: Boolean,
            required: false,
            default: true
        },
        onOk:{
            type: Function,
            required:false
        }
    }
}
</script>
