<template>
    <b-col cols="1">
        <b-icon class="like--icon" :class="{ filled: isLiked }" @click="onClick" :icon="isLiked ? 'heart-fill' : 'heart'" />
    </b-col>
</template>

<script lang="js">
export default {
    name: "CommonLikeButton",
    props: {
        isLiked: {
            type: Boolean,
            required: true
        },
        onClick: {
            type: Function,
            required: true
        }
    }
}
</script>

<style>
.like--icon {
    transition: fill .3s;

}

.like--icon:hover {

    fill: red;
}

.like--icon.filled {
    fill: red
}
</style>