<template>
    <div class="common--empty">
        <h3>{{ text }}</h3>
    </div>
</template>

<script>
export default {
    name: "CommonEmpty",
    props: {
        text: {
            type: String,
            required: false,
            default: "There is nothing to show"
        }
    }
}
</script>

<style lang="css" scoped>
.common--empty {
    display: flex;
    justify-content: center;
    align-items: center;
}
</style>