<template>
    <div class="page--news">
        <NewsWidget />
        <div class="sticky">
            <NewsFiltersWidget />
        </div>
    </div>
</template>
<script>
import { NewsWidget, NewsFiltersWidget } from '@/widgets/News';


export default {
    name: "NewsPage",
    components: {
        NewsWidget, NewsFiltersWidget,
    }
}
</script>

<style scoped>
.page--news {
    position: relative;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 2rem;
    width: 100%;
}

.sticky {
    position: sticky;
    height: 300px;
    top:1rem;
}
</style>
