<template>
  <div id="app">
    <HeaderWidget />
    <div class="pt-4 container">
      <NewsPage />
    </div>
  </div>
</template>

<script>
import { NewsPage } from '@/pages'
import { HeaderWidget } from '@/widgets/Header';



export default {

  name: 'App',
  components: {
    NewsPage,
    HeaderWidget
  }

}
</script>

<style scoped>

.container {
  width: 100%;

}
</style>

