<template>
    <div class="card">
        <b-card>
            <b-row class="p-0 justify-content-between">
                <b-col cols="11" @click="onNewsClick && onNewsClick($event)">
                    {{ data.title }}
                </b-col>
                <CommonLikeButton :onClick="onFavoriteButtonClick" :isLiked="!!data.isFavorite" />
            </b-row>
        </b-card>
    </div>
</template>

<script lang="js">
import { mapMutations } from 'vuex';
import { CommonLikeButton } from '@/shared/common'
export default {

    name: "NewsCard",
    components: {
        CommonLikeButton
    },
    props: {
        data: {
            type: Object,
            required: true
        },
        onNewsClick: {
            onNewsClick: {
                type: Function,
                required: false,
            }
        }

    },
    methods: {
        ...mapMutations({
            setIsFavorite: 'setIsFavorite'
        }),
        onFavoriteButtonClick() {
            this.setIsFavorite(this.data.id);
        },
    }
}
</script>

<style lang="css" scoped>
.card {
    cursor: pointer;
}
</style>