<template>
    <CommonModal :modalId="modalId" :title="data.title">
        <b-row class="m-0">
            <b-col class="text-justify">
                <p class="news--content">

                    {{ data.body }}
                </p>

            </b-col>
        </b-row>
        <b-row v-if="data.cdat" class="w-100 justify-content-end">
            <p class="news--date">
                <span>{{ parsedDate }}</span>

                <span v-if="currentCity"> | {{ currentCity }}</span>
            </p>
        </b-row>
    </CommonModal>
</template>

<script>
import { CommonModal } from '@/shared/common'
import { parseDate } from '@/shared/date';
import { mapState } from 'vuex';
export default {
    name: "NewsModal",
    components: {
        CommonModal
    },
    props: {
        data: {
            type: Object,
            required: true
        },
        modalId: {
            type: String,
            required: true
        },
    },
    computed: {
        ...mapState({
            cities: state => state.cities.cities
        }),
        parsedDate() {
            return parseDate(this.data.cdat)
        },
        currentCity() {
            return this.cities[this.data.city]
        }

    }
}
</script>
<style lang="css" scoped>
.news--content {
    white-space: break-spaces;
}

.news--date {
    font-weight: bold;
}
</style>