<template>
    <b-row class="m-4 w-100">
        <b-form @reset="onReset" @submit.prevent="onSubmit" class="w-100">
            <b-form-group label="Title" label-for="input-1">
                <b-form-input v-model="form.title" required></b-form-input>
            </b-form-group>

            <b-form-group label="Content" label-for="input-2">
                <b-form-textarea v-model="form.body" placeholder="Enter something..." rows="3" required max-rows="6" />
            </b-form-group>
            <b-form-group label="City" label-for="input-2">
                <CitiesSelect :value="form.city" :onChange="value => this.form.city = value" />
            </b-form-group>
            <b-form-group label="Date" label-for="input-2">
                <b-form-datepicker
                    :date-format-options="{ year: 'numeric', month: 'short', day: '2-digit', weekday: 'short' }"
                    v-model="form.cdat" class="mb-2"></b-form-datepicker>
            </b-form-group>
            <div class="form--footer">
                <b-button type="reset" variant="danger">Reset</b-button>
                <b-button type="submit" variant="primary">Submit</b-button>
            </div>
        </b-form>

    </b-row>
</template>

<script>
import { mapMutations } from 'vuex';
import { CitiesSelect } from '@/shared/cities';

export default {
    name: "NewsAddForm",
    components: { CitiesSelect },

    props: {
        onFormFinish: {
            type: Function,
            required: true
        }
    },
    data() {
        return {
            form: {
                title: "",
                body: "",
                city: null,
                cdat: null,
            },
        };
    },
    methods: {
        ...mapMutations({
            setNewOne: "setOneNews"
        }),
        onSubmit() {
            this.onFormFinish(this.form);
            this.resetForm();
        },
        onReset(event) {
            event.preventDefault();
            this.resetForm();
        },
        resetForm() {
            this.form.title = "";
            this.form.body = "";
            this.form.cdat = null;
        }
    },

}
</script>

<style lang="css" scoped>
.form--footer {
    display: flex;
    justify-content: end;
    gap: 8px;
}
</style>