<template>
    <div>
        <b-card>
            <b-row class="justify-content-between">
                <b-col cols="1">
                    <p>
                        <b-icon icon="newspaper" />
                        <span>
                            Vue News
                        </span>
                    </p>
                </b-col>
                <b-col cols="3">
                    <b-row class="align-items-center">
                        <b-col>
                            <NewsAddNewFormModal />
                        </b-col>
                    </b-row>
                </b-col>
            </b-row>
        </b-card>
    </div>
</template>

<script>
import { NewsAddNewFormModal } from '@/features/news';



export default {
    name: "HeaderWidget",
    components: { NewsAddNewFormModal }
}
</script>
