<template>
    <div class="widget--news--filters">
        <p class="widget--news--filters--title">Filters</p>
        <div class="widget--news--filters--inner">
            <CitiesSelect :value="filters.city" :onChange="(city) => onChangeFilter({ city })" />
            <b-form-checkbox id="checkbox-1" v-model="filters.isFavorite" name="checkbox-1"
                @input="$event => onChangeFilter({ 'isFavorite': $event })">
                Liked
            </b-form-checkbox>
        </div>

    </div>
</template>

<script>

import { CitiesSelect } from '@/shared/cities';
import { mapMutations, mapState } from 'vuex';


export default {
    name: 'NewsFiltersWidget',
    components: {
        CitiesSelect
    },

    computed: {
        ...mapState({

            filters: store => store.news.filters
        }),
    },
    methods: {
        ...mapMutations({
            changeFilters: "changeFilters"
        }),
        onChangeFilter(filterValue) {
            this.changeFilters(filterValue);

        }
    }
}
</script>

<style lang="css" scoped>
.widget--news--filters {
    border: 1px solid slategrey;
    border-radius: 10px;
    padding: 16px;
    height: 300px;

}

.widget--news--filters--title {
    text-align: center;
}

.widget--news--filters--inner {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}
</style>