<template>
    <div>
        <div class="row" v-if="news.length">
            <b-col v-for="newsItem in news" :key="newsItem.id">
                <NewsCardWithModal :data="newsItem" />
            </b-col>

        </div>
        <CommonEmpty v-else :text="'There is no news yet.'" />
        <b-row class="align-content-md-center intersection">
            <b-col class="text-center h-md" cols="4" ref="intersection">{{ isNewsLoading ? "Loading..." : "" }}</b-col>
        </b-row>
    </div>
</template>

<script lang="js">
import { mapActions, mapState } from 'vuex';
import { NewsCardWithModal } from '@/features/news';
import { CommonEmpty } from '@/shared/common'


export default {
    name: "NewsWidget",
    components: {
        NewsCardWithModal,
        CommonEmpty

    },
    data() {
        return {
            pagination: {
                page: 1,
                count: 20
            },
            modalId: 'modalId'
        }
    },
    computed: {
        ...mapState({
            allNews: (state) => state.news.news,
            isNewsLoading: state => state.news.isLoading,
            isPaginationAllowed: state => !state.news.isMaxNews,
            filters: state => Object.entries(state.news.filters).filter(([, value]) => value)
        }),
        news() {
            return this.allNews.filter(news => this.filters.every(([key, value]) => news[key] === value))
        }
    },
    methods: {
        ...mapActions(['fetchNews']),
        updatePagination() {
            this.pagination.page = this.pagination.page + 1

        },
    },
    mounted() {
        const updatePagination = (entries) => {
            if (entries[0].isIntersecting && !this.filters.length) {
                this.updatePagination();
            }
        }

        const observer = new IntersectionObserver(updatePagination, { rootMargin: "0px", threshold: 1.0 })
        observer.observe(this.$refs.intersection)
    },
    beforeMount() {
        this.fetchNews(this.pagination)
    },
    watch: {
        'pagination.page'() {
            this.isPaginationAllowed && this.fetchNews(this.pagination)

        },

    }

}
</script>

<style lang="css" scoped>
.row {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.intersection {
    height: 40px;
}
</style>